{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fiche</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche.id }}</td>
            </tr>
            <tr>
                <th>Projet</th>
                <td>{{ fiche.projet }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if fiche.date %}{{ fiche.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbjoursfait</th>
                <td>{{ fiche.nbjoursFait }}</td>
            </tr>
            <tr>
                <th>Nbjoursvendus</th>
                <td>{{ fiche.nbjoursVendus }}</td>
            </tr>
            <tr>
                <th>Avancementprojet</th>
                <td>{{ fiche.avancementProjet }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ fiche.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fiche_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
